# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# DB
DATABASE_URL=postgresql://postgres:vibers123@101.202.34.11:5432/vibers_admin

# Admin
NEXT_PUBLIC_VIBERS_ADMIN_KEY=
NEXT_PUBLIC_ADMIN_URL=https://vibers.co.kr
